@media screen and (max-width: 959px) {
  strong {
    display: block;
  }

  header {
    margin: 16px 0;
  }

  section {
    padding: 32px 0;
  }

  button.decode,
    button.decode:focus {
    padding: 16px 0;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .content {
  max-width: 960px;
  }

  h1 {
    font-size: 2em;
  }

  header {
    margin: 32px 0;
  }

  h1 strong,
  h1 .light {
    border-bottom: 1px solid #3a6c44;
  }

  section {
    padding: 64px 0;
  }

  button.decode,
  button.decode:focus {
    padding: 16px 48px;
  }
}

html {
  color: #222;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  ine-height: 1.5em;
}

html, body {
  height: 100%;
}

.light {
 font-weight: 300;
}
  
strong {
  font-weight: 700;
}

h1 {
  font-weight: inherit;
  color: #3a6c44;
}  

header a:link,
header a:visited,
header a:active,
header a:focus,
header a:hover {
  color: inherit;
  text-decoration: none;
}

input,
input:hover {
  background-color: #f7f7f7;
  width: 100%;
  font-family: inherit;
  font-size: 1.2em;
  line-height: 2.5em;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-bottom: 1px solid #f7f7f7;
  z-index: 1;
}

input:focus,
input:active {
  border-bottom: 1px solid #3a6c44;
}

button.clear-button,
button.clear-button:focus {
  border: 0 none;
  position: absolute;
  cursor: pointer;
  line-height: 2.5em;
  font-size: 1.2em;
  background-color: transparent;
  width: 50px;
  right: 0;
  font-weight: 700;
  color: #3a6c44;
  transition: background-color 0.1s;
  z-index: 2;
}

button.clear-button:hover {
  transition: color 0.25s;
  color: #2b5533;
}

button.decode,
button.decode:focus {
  background-color: #3a6c44;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  border: 0 none;
  color: #f7f7f7;
  transition: background-color 0.1s;
}

button.decode:hover {
  transition: background-color 0.25s;
  background-color: #2b5533;
}

.content {
  margin: 0 auto;
  padding: 0 16px;
}

.actions {
  margin: 32px 0;
  text-align: right;
}

.clear-wrapper {
  position: relative;
}

.page-wrapper {
  flex: 1 0 auto;
}

footer {
  background-color: #3a6c44;
  color: #f7f7f7;
  line-height: 3em;
  flex-shrink: 0;
  font-size: 0.9em;
  text-align: center;
}

.content .wrapper {
  margin: 0 0 32px;
}

.result-wrapper {
  padding: 32px;
}

.success {
  background-color: #def2de;
}

.error {
  background-color: #f7eaea;
}
