html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  font-size: 1em;
}

.content {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 16px;
}

input {
  width: 100%;
  font-size: 1em;
}

html, body {
  height: 100%;
  background-color: #f6f6f6;
}

body {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1 0 auto;
}

header,
footer {
  background-color: #eee;
}

h1 {
  height: 2em;
  line-height: 2em;
  font-size: 2em;
}

footer {
  height: 3em;
  line-height: 3em;
  flex-shrink: 0;
  font-size: 0.9em;
}

.content .wrapper {
  margin: 16px 0 32px;
}
